<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <section>
        Menu
        <section>
            Starters
            <table>
                <tr>
                    <td>
                        Tomato soup
                    </td>
                </tr>
                <tr>
                    <td>
                        Garlic bread
                    </td>
                </tr>
                <tr>
                    <td>
                        Broccoli & potato croquettes
                    </td>
                </tr>
            </table>
        </section>
        <section>
            Mains
            <table></table>
        </section>
    </section>
</body>
</html>