<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <h1>Vegedible</h1>
        <nav>
            <a href="/accounts/signup/">Sign up</a>
        </nav>
    </header>
    <section>
        <h2>Menu</h2>
        <section>
            <h3>Starters</h3>
            <table>
                <tr>
                    <td>
                        Tomato soup
                    </td>
                </tr>
                <tr>
                    <td>
                        Garlic bread
                    </td>
                </tr>
                <tr>
                    <td>
                        Broccoli & potato croquettes
                    </td>
                </tr>
            </table>
        </section>
        <section>
            <h3>Mains</h3>
            <table>
                <tr>
                    <td>
                        Vegetarian wellington
                    </td>
                </tr>
                <tr>
                    <td>
                        Mushroom buckwheat risotto
                    </td>
                </tr>
                <tr>
                    <td>
                        Spinach & ricotta gnocchi
                    </td>
                </tr>
            </table>
        </section>
    </section>
</body>
</html>