<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% if user.is_authenticated %}
    {% else %}
    <p>
        You need to be logged in to an account
        before you can make or manage any bookings.
    </p>
    <p>
        Please <a href="/accounts/login">login</a>,
        <a href="/accounts/signup">create an account</a> or
        <a href="/">go back to the front page.</a>
    </p>
    {% endif %}
</body>
</html>