{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <a href="/orders">Back</a>
    <form action="create_order" method="POST">
        <p>Table numbers range from 1 to 10, inclusive</p>
        {% csrf_token %}
        {{ order.as_p }}
        <div>
            <button type="submit">Book order</button>
        </div>
    </form>
</body>
</html>