<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% if user.is_authenticated %}
    <h1>Orders</h1>
    <a href="/create_order">Create an order</a>
    {% if orders %}
    <table>
        <thead>
            <tr>
                <th>
                    <b>Customer</b>
                </th>
                <th>
                    <b>Date & Time</b>
                </th>
                <th>
                    <b>Table number</b>
                </th>
                <th>
                    <b>Edit booking</b>
                </th>
                <th>
                    <b>Delete booking</b>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.customer }}</td>
                <td>{{ order.date_and_time }}</td>
                <td>{{ order.table_number }}</td>
                <td>
                    <a href="/orders/edit/{{ order.id }}">Edit</a>
                </td>
                <td>
                    <a href="/orders/delete/{{ order.id }}">Delete</a>
                </td>
            </tr>
            {% empty %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>There are no order to show</p>
    {% endif %}
    {% else %}
    <p>
        You need to be logged in to an account
        before you can make or manage any bookings.
    </p>
    <p>
        Please <a href="/accounts/login">login</a>,
        <a href="/accounts/signup">create an account</a> or
        <a href="/">go back to the front page.</a>
    </p>
    {% endif %}
</body>
</html>